<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFhG14PhHIJphB7iG3KCO31OhP2E9Bwys</string>
	<key>GCM_SENDER_ID</key>
	<string>396326249372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udhay.vitapstudentapp</string>
	<key>PROJECT_ID</key>
	<string>vit-ap-student-app-6eee0</string>
	<key>STORAGE_BUCKET</key>
	<string>vit-ap-student-app-6eee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396326249372:ios:2ed8d6aa50ddfa24d55e59</string>
</dict>
</plist>