# .env.example
#
# This file should be in your project's repository.
#
# When cloning this repo, create a .env file in the root directory
# and paste the content of this file into it.
#
# You should then replace the placeholder values below with your actual values.
#
# IMPORTANT: Never commit your .env file with sensitive data.
#

# API Key
WIREDASH_SECRET_KEY=YOUR_WIREDASH_API_KEY

# For You API Key
FOR_YOU_API_KEY=YOUR_FOR_YOU_API_KEY

# Vtop Credentials(only for rust library)
VTOP_USERNAME=YOUR_VTOP_USERNAME
VTOP_PASSWORD=YOUR_VTOP_PASSWORD